html {
    background-color: rgb(191,138,240);
}

header {
    background-color: rgb(191,138,240);
}

#avatarIcon {
     margin: 1em;
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

#mainContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgLink {
    text-decoration: none;
}

.mainIcon {
    height: 4em;
    width: 4em;
    text-decoration: none;
}