body {
    background-color: rgb(191,138,240);
    font-family: 'Roboto', sans-serif;
}

#avatarIcon {
    margin: 1em;
    border-radius: 50%;
    height: 7em;
    width: 7em;
}

#imgContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgContainer .mainIcon {
    height: 5em;
    width: 5em;
    padding-left: .6em;
}

#imgContainer .imgLink {
    text-decoration: none;
}

#imgContainer #firstImg {
    padding-left: 0;
}

#footerWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer {
    display: inline-block;
    color: rgba(10,10,10,0.7)
}

footer p {
    float: left;
}

footer a #mailIcon {
    height: 2em;
    width: 2em;
    float: right;
    margin: 8px 0px 0px 10px;
    filter:opacity(50%)
}

@media only screen and (max-width:540px) {
    #avatarIcon {
        margin: .5em;
        height: 6em;
        width: 6em;
    }

    #imgContainer {
        width: 25%;
        text-align: center;
    }

    #imgContainer .mainIcon {
        padding-left: 0;
        padding-top: 1.5em;
        text-align: center;
    }
}